* {
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'pretendard';
}

a {
  text-decoration: none;
}

button:disabled {
  background: #9ca3af;
  cursor: not-allowed;
}
